/*GENERAL*/

:root{ /*SON LAS COSAS POR DEFECTO Y PREESTABLECIDO POR MÍ*/
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md:16px;
    --lg: 18px;
}
body{ /*DEFINO QUE TODO EL BODY VA A TENER ESTOS DATOS:*/
    font-family: 'Quicksand', sans-serif;
    margin: 0;/*eliminamos el margen por defecto del navegador y lo hacemos sobre en la linea*/
}
/*NAVBAR GRAL*/
.inactive{
    display:none;
}
.my-order{
    width: 100%;
    height: 100vh;
    display: grid;/*centra elementos*/
    place-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink) ;
}
.menu{
    display: none;
}
.logo{
    width: 100px;
}
.navbar-left ul, 
.navbar-right ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 60px;
}
.navbar-left, 
.navbar-right{
    display: flex;
}
.navbar-left ul {
    margin-left:12px ;
}
.navbar-left ul li a, 
.navbar-right ul li a {
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover, 
.navbar-right ul li a:hover {
    text-decoration: none;
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}
.navbar-email{
    cursor: pointer;
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 10px;
}
.navbar-shopping-cart div{
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    display: flex;
    position: absolute;
    justify-content: center;
    top: -6px;
    right: -6px;
}
.navbar-shopping-cart{
    position: relative;
}
/*MENU EN DESKTOP*/

.desktop-menu { /*aca pegue el css de clase 7*/
    
    position: absolute; /*la posicion absolute lo pone por detras de todo*/
    background-color:var(--white);/*le coloque fondo blanco*/
    top:60px;/* lo mandé arriba de todo usando 0px.. pero pongo 60px por el tamaño del email*/
    right: 0px;/*a la punta absoluta de la derecha fue enviado*/

    width: 100px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
}

.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}
.desktop-menu ul li:last-child a {
    color: var(--hospital-green);
    font-size: var(--sm);
}
.desktop-menu ul a {
    color: var(--black);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
    

}

/*Menú en mobile*/

.mobile-menu{ 
    padding: 24px;
    /*como se ve todo junto y desprolijo, debo acomodar todo*/
    position: absolute;
    top: 60px;
    background-color:var(--white);
    left: 0;
    width: 100%;
}
.mobile-menu a{
    text-decoration: none;
    color:black;
    font-weight: bold;
    /* margin-bottom: 24px; */
}
.mobile-menu ul{
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
}
.mobile-menu ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);
}

.mobile-menu ul li{
    margin-bottom: 24px;
}
.email {
    font-size: var(--sm);
    font-weight: 300 !important;
    
}
.sign-out{
    font-size: var(--sm);
    font-weight: 300 !important;
    color: var(--hospital-green)!important
}
.mobile-menu ul:last-child{
    position: absolute;
    bottom: none;
}
.mobile-menu ul:last-child li:nth-child(1),
.mobile-menu ul:last-child li:nth-child(2) {
margin-bottom: 8px;
}

/*ASIDE product detail y carrito*/
aside{ /*cambie el nombre, paso de product-detail a aside para no romper el codigo porque agregue en el html ID's*/
    background-color:var(--white);
    width: min-content;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
aside img {
    border-radius:4%;
}

/*shopping cart*/

#shoppingCartContainer{
    padding: 0 24px;
}
.title-container{
    display: flex; /*CON ESTO PONGO UNO AL LADO DEL OTRO*/
}
.title-container img{
    transform: rotate(180deg);
    margin-right: 14px;
}
.title{
    font-size: var(--lg);
    font-weight: bold;
}
.order{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    background-color: var(--text-input-field);
    gap: 16px;
    align-items: center;
    margin-bottom: 24px; /* PORQUE ESTA CERCA DE LAS COSAS DE ABAJO*/
    border-radius:8px;
    padding: 0 24px; /*con esto "centre" manualmente el "04.25.21 6articles     $560"*/
}
.order p:nth-child(1){/*"6 articles"*/
    display: flex;
    flex-direction: column;/*lo mande abajo*/            
}
.order p:nth-child(2){/*"$560,00*/
    text-align: end; /*lo alinee al final de la derecha*/
    font-weight: bold;            
}
.order p span:nth-child(1){/*"Total"*/
    font-size: var(--md);
    font-weight: bold;            
}
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure{
    margin: 0;
}
.shopping-cart figure img{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
}
.shopping-cart p:nth-child(3){
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    background-color: var(--hospital-green);
    border-radius:8px;
    border:none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*product detail*/
.product-detail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius:50%;
}

.product-detail-close:hover {
    cursor:pointer;
}
#product-detail>img:nth-child(2){/*cambio de nombre por un ID*/
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}
.product-info{
    margin: 24px 24px 0 24px;
}
.product-info p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
    margin-top: 0px;
}
.product-info p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-bottom: 36px;
    margin-top: 0px;
}
.product-info p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-bottom: 36px;
    margin-top: 0px;
}


.primary-button {
    background-color: var(--hospital-green);
    border-radius:8px;
    border:none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.add-to-cart-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*PRODUCT LIST*/

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);/*despliegue automatico segun la pantalla*/
    gap: 26px; /*PRODUCE UN ESPACIO ENTRE CADA CARTA*/
    place-content: center;/*centraliza y alinea en toda la pantalla las cartas ES MUY IMPORTANTE*/
    margin-top: 20px;
}
.product-card{
    width: 240px;
}
.product-card img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover; /*pone la imagen re linda y optima con tamaño original*/
}

.product-card .product-info{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;

}

.product-card .product-info figure {
    margin: 0;
}
.product-card .product-info figure img{
    width: 35px;
    height: 35px;
}
.product-card .product-info p p:nth-child(1){/*p es un selector y estoy diiendo que el primer parrafot que esta dentro de div de product info va a tener estas clases eso hace que el otro parrafo no se toque con el p:*/
    font-weight: bold; 
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.product-card .product-info p p:nth-child(2){/*ACA INDICO QUE ES EL SEGUNDO PARRAFO*/
    
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink)
}





@media (max-width: 640px) {
    .menu{
        display: block;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email{
        display: none;
    }
    .desktop-menu{
        display: none;
    }
    aside{/*cambie el nombre de product-detail a aside para que no se rompa el codigo*/
        width: 100%;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);/*despliegue automatico segun la pantalla*/
        gap: 26px; /*PRODUCE UN ESPACIO ENTRE CADA CARTA*/
    }
    .product-card{
    width: 140px;
    }
    .product-card img{
    width: 140px;
    height: 140px;
    }
}

@media (min-width: 641px){
    .mobile-menu{
        display: none;
    }

}